@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<div class="col-lg-12 col-md-12 col-sm-12">
    <p><img src="~/Images/gumballMachine.png" alt="Gumball Machine" />Nullam urna est, congue a nisi in, pellentesque iaculis lorem. Aenean ut sapien velit. Integer erat nunc, accumsan sed lorem vel, tristique luctus tortor. Nulla facilisi. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. In viverra rhoncus nulla ut efficitur. Aenean vehicula ligula vitae magna sagittis commodo. Phasellus sollicitudin justo at pellentesque ornare. Proin tempus mollis sodales. Duis faucibus tellus orci, vitae rutrum nunc luctus et.</p>

    <p>Pellentesque dictum tortor mi, non finibus massa faucibus nec. Morbi risus turpis, fringilla nec sapien nec, cursus faucibus tellus. Aliquam id enim a ligula aliquam molestie. Pellentesque sed vehicula urna, quis interdum dolor. Nam ante ex, suscipit et metus vitae, consequat sagittis turpis. Praesent nec justo eget lacus pretium congue. Fusce tortor mauris, ultricies at tincidunt eu, placerat commodo augue. Etiam fringilla nunc eget tortor maximus ultricies. Fusce rutrum luctus urna in dignissim. Curabitur mollis felis velit. Nunc vitae ultricies mauris. Praesent non ultrices nulla, a dictum ipsum. Ut ac gravida diam. Morbi ut augue nec urna vestibulum maximus nec a erat. In eu velit laoreet, pellentesque nibh ut, euismod risus.</p>

    <p>Sed euismod, ipsum et vestibulum facilisis, quam felis condimentum nisi, sit amet tincidunt arcu felis nec diam. Aenean varius magna ex, at placerat velit euismod et. Duis id risus eget est gravida vestibulum eu et urna. Maecenas finibus, diam sed hendrerit venenatis, dolor diam sollicitudin tortor, id suscipit ipsum libero ac magna. Suspendisse potenti. Nulla at consequat odio. Sed lacinia sagittis sodales. Nam et dui auctor, volutpat lorem in, pharetra arcu.</p>

    <p>Duis ligula nunc, efficitur et justo id, semper tempor ante. Aenean pulvinar magna ut eros vehicula, eget dignissim augue malesuada. Vestibulum convallis sapien quis sem egestas, in ullamcorper purus sagittis. Aliquam erat volutpat. Morbi tincidunt condimentum lectus vel semper. Aliquam eu velit vitae nisi feugiat placerat. Suspendisse potenti. Donec consectetur est mollis nisi commodo, non efficitur justo feugiat. Duis non lorem nisi. Sed ut libero elit. In nec massa lacinia, maximus tortor non, varius quam.</p>
</div>
