@{
    ViewBag.Title = "Home Page";
}

@*<div class="jumbotron">
        <h1>Chew On This</h1>
        <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
        <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
    </div>*@

<div class="row">
    <div class="col-md-4">
        <h2>Gumballs!!</h2>
        <p>
            Vestibulum luctus lorem nec mauris faucibus, non eleifend nisi vestibulum.
            Pellentesque convallis viverra aliquet. Fusce dolor nulla, gravida vel mauris eget, laoreet dapibus metus.
            Vivamus imperdiet nisi eget lorem porttitor, blandit tempor justo mollis. Suspendisse potenti.
            Sed vulputate odio a nulla interdum, ut iaculis dolor facilisis. Curabitur malesuada dictum lacinia.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Prank Your Friends!</h2>
        <p>
            Donec vitae sem iaculis, tristique nibh ac, tincidunt purus. In dictum faucibus gravida.
            Vivamus volutpat vitae erat vitae pretium. Donec mollis est ac mollis vestibulum.
            In nec justo et mi vestibulum venenatis eget non turpis. Maecenas sit amet massa in dui pretium ullamcorper.
            Nam interdum viverra mauris, eu aliquet risus faucibus nec. Vivamus lobortis rhoncus arcu eu euismod.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>About Us!</h2>
        <p>
            Proin vitae arcu vitae sapien luctus dignissim vitae vitae velit.
            Nam fringilla arcu ipsum, vitae efficitur massa malesuada nec. Ut ut pretium nisi.
            Nunc tincidunt laoreet magna. Fusce purus magna, faucibus id mauris et, varius pellentesque ligula.
            Nullam at sapien diam. Curabitur porta, ante sed mattis suscipit, ipsum nisi fringilla augue, eget luctus est eros imperdiet mi.
            Suspendisse potenti.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>